/* Dark Mode for Lucee Admin */
:root {
  /* Light Mode (Default)
  --bg-color: white;
  --text-color: #333;
  --header-color: #76a83d;
  --button-bg: #5f8731;
  --button-text: rgba(255, 255, 255, 0.75);
  --error-color: red;
  --warning-bg: #FC6;
  --copyright-color: #000;

} */

/* Dark Mode */
body.dark-mode {
  --front-rgb: 160, 160, 160;
  --back-rgb: 33, 33, 33;
  --input-rgb: 40, 40, 40;
    --primary-color-rgb: 92, 135, 46;


    --title-color: rgba(var(--front-rgb), 1);
    --text-color: rgba(var(--front-rgb), 0.8);
    
    --primary-color: rgba(var(--primary-color-rgb), 1);
    --link-color: rgba(var(--primary-color-rgb), 0.8);
    --lines: rgba(var(--front-rgb), 0.3);
    --linesbright: rgba(var(--front-rgb), 0.4);
    --cell-back: rgba(var(--front-rgb), 0.1);
    --back: rgba(var(--back-rgb), 1);
    --bright: rgba(var(--input-rgb), 1);
    --input-bg: rgba(var(--input-rgb), 0.9);
    --input-text: rgba(var(--front-rgb), 0.8);
    
    /* button */
    --button-text: rgba(var(--button-text-rgb), 0.8);
    --button-bg: rgba(var(--primary-color-rgb), 0.8);
}




/* Coding tips */
body.dark-mode .coding-tip-trigger,
body.dark-mode div.coding-tip-trigger,
body.dark-mode #innercontent .coding-tip-trigger {
  cursor: pointer !important;
  text-decoration: underline !important;
}



body.dark-mode .tt-suggestion.tt-selectable:hover {
  background-color: #555 !important;
  color: white;
}

/* Toggle button styling */
/* Toggle button styling with your color preferences and fixed dimensions */
.dark-mode-toggle {
  position: fixed;
  top: 10px;
  right: 55px;
  width: 32px;
  height: 32px;
  background: var(--cell-back);
  color:var(--button-text);
  border: none;
  border-radius: 50%; /* Make it perfectly round */
  padding: 0;
  cursor: pointer;
  z-index: 1000;
  font-size: 18px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  xtransition: background-color 0.3s, transform 0.3s;
}

.dark-mode-toggle:hover {
  transform: scale(1.2);
}



body.dark-mode .dark-mode-toggle:hover {
  background: rgba(var(--front-rgb), 0.4);
}

/* Fix specific elements */
body.dark-mode img[src*="spinner16.gif.cfm"] {
  filter: invert(1);
}


