db.log
db.properties
db.script
*.db
db*.lck
db*.log
db*.properties
db*.script
temp
**/.DS_Store
**/.svn/
/*.project
va specific
*.class
target
target/*
*.lock
*.DS_Store
*.cfc.hbm.xml
/cache
WEB-INF

.classpath
*.eml
*.iml
*.ipr
*.iws
*.jfr

/.vscode
/.idea
loader/env.json
