db.log
db.properties
db.script
*.db
db*.lck
db2.log
db2.properties
db2.script
temp
**/.DS_Store
**/.svn/
/*.project
va specific
*.class
target
target/*
*.lock
*.DS_Store
*.cfc.hbm.xml
/cache
WEB-INF


.classpath
**/.settings/**
*.eml
*.iml
*.ipr
*.iws
