#-lucee-debug { width: auto !important;  margin: 2.5em 1em 0 1em !important; padding: 1em; background-color: #FFF; color: #fff; border: 1px solid #CCC; border-radius: 5px; text-shadow: none; }

#-lucee-debug td		{ background-color: white; }
#-lucee-debug.collapsed	{ padding: 0; border-width: 0; }
#-lucee-debug legend 	{ padding: 0 1em; background-color: none !important ; color: #222; }
#-lucee-debug legend span { font-weight: normal; }

#-lucee-debug, #-lucee-debug td	{ font-family: Helvetica, Arial, sans-serif; font-size: 9pt; line-height: 1.35; }
#-lucee-debug.large, #-lucee-debug.large td	{ font-size: 10pt; }
#-lucee-debug.small, #-lucee-debug.small td	{ font-size: 8.5pt; }
#content {padding: 10px 10px 10px 20px;}

table		{ empty-cells: show; border-collapse: collapse; border-spacing: 0; }
table.details	{ margin-top: 0.5em; border: 1px solid #ddd; margin-left: 9pt; max-width: 100%; }
table.details th { font-size: 9pt; font-weight: normal; background-color: #f2f2f2; color: #3c3e40; }
table.details td, table.details th { padding: 2px 4px;  border: 1px solid #ddd; }

#-lucee-debug .section-title	{ margin-top: 1.25em; font-size: 1.25em; font-weight: normal; color:#555; }
#-lucee-debug .section-title:first-child	{ margin-top: auto; }
#-lucee-debug .label		{ white-space: nowrap; vertical-align: top; text-align: right; padding-right: 1em; background-color: inherit; color: inherit; text-shadow: none; }
#-lucee-debug .collapsed	{ display: none; }
#-lucee-debug .bold 		{ font-weight: bold; }
#-lucee-debug .txt-c 	{ text-align: center; }
#-lucee-debug .txt-l 	{ text-align: left; }
#-lucee-debug .txt-r 	{ text-align: right; }
#-lucee-debug .faded 	{ color: #999; }
#-lucee-debug .ml14px 	{ margin-left: 14px; }
#-lucee-debug table.details td.txt-r { padding-right: 1em; }
#-lucee-debug .num-lsv 	{ font-weight: normal; }
#-lucee-debug tr.nowrap td { white-space: nowrap; }
#-lucee-debug tr.red td, #-lucee-debug .red 	{ background-color: #FDD; }
#-lucee-debug td.sorted { background-color: #FFE; }

#-lucee-debug .sortby.selected, #-lucee-debug .sortby:hover { background-color: #25A; color: #FFF !important; }
#-lucee-debug .pad 	{ padding-left: 16px; }
#-lucee-debug a 	{ cursor: pointer; }
#-lucee-debug td a 	{ color: #25A !important; }
#-lucee-debug td a:hover	{ color: #58C; text-decoration: underline; }
#-lucee-debug .__sql	{ background-color: #EEE; max-width: 800px; overflow: scroll; padding: 0.2em; border: solid 1px #666; border-radius: 1em; white-space: pre-wrap; word-break: break-all; word-wrap: break-word; tab-size: 2; }

.-lucee-icon-file   { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB98KEwgeMjUl220AAAEISURBVDjLxZM9SgNxEMV/M/nASEDFLJJOPIO92wmWsbdZNugRRLCwySXcxtia1jIL6g08RbLgVlFh9z8Wi8JKSGATyGuHefPemxnYBHauXji4fAOgXoWgkWXkTgDQVdUsJfCCGC+Ie5UJUEB58sLxNZj8LwtAJ4gBzqxmE3W2r0JqQptcugCmMgQw7GF367OffrW+cUIS+UWIUui4k5xXp3qM2btDDlU5LU+Ti4/Z9lHDaS9TN60WolKyUQcwB8Ct1Zioc88qpCLWJpfHkgVjuNeahb8W/jJYuIUwLnqNm+T+ZABinXBMKYOFKNSdJ5E/mldeSjCNfIBR9TtY9RLnodnMQGU9n/kD+19X1oivU2EAAAAASUVORK5CYII=) no-repeat left center; padding: 4px 0 4px 16px; }
.-lucee-icon-tree   { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB98KEwglA1hJNG8AAAGuSURBVDjL3ZI9aFNhFIaf80WDQ7c0QjepuKc4FCnFm9LJUekQbTE2iSCKIJihmFAtpqAp+EuX9NafNjYiKU4OLt5iFQfBDp0KtkJ1aTpER02+41BuG+mtq+A7Hc7hvN9zXj741xK/aE95J8TwQi0Dm67zanR2UScXGgBccvYzeqZHggyMX2hIN7C6oiHdAJhcaDCXjZFLdPLQ+wVAOjWsMzNPtdVg37aT1Yg1ptNYGwHIdDdIFJcAON/doFCCKXdaptzpYAIj1I3qVyPUAcbT/TJy5B3f7nTdyg10Hd4rg50ThDYrclCFNr/3symYcLj//uvVz9GMp9GMp4XKh+ATaEqHMbTTlI7WjB/cu3t0YuUYc9kYy+vfKVTWADiXPKvHnfgOQZCa1nIlOyIXew2J4hKFyhoXerZmjx4/kWQyKRJNeScxVHdtW05dPvS2ms/n5W+PmJrrzFtLrrWpqtdqrjPvb068/KR+BrerHzX4I6XflEXktGLLm6W+QYCxG9f1QDhEcbWXZ1djLK/XGX/+hVrJkaGhQY3H+/7EiQx7P4Iwb5bfbxOMzS4q/5d+A67apf+Ijp6WAAAAAElFTkSuQmCC) no-repeat left center; padding: 4px 0 4px 16px; }
a.-lucee-icon-plus 	{ background: url(data:image/gif;base64,R0lGODlhCQAJAIABAAAAAP///yH5BAEAAAEALAAAAAAJAAkAAAIRhI+hG7bwoJINIktzjizeUwAAOw==) no-repeat left center; padding: 4px 0 4px 16px; }
a.-lucee-icon-minus 	{ background: url(data:image/gif;base64,R0lGODlhCQAJAIABAAAAAP///yH5BAEAAAEALAAAAAAJAAkAAAIQhI+hG8brXgPzTHllfKiDAgA7)     no-repeat left center; padding: 4px 0 4px 16px; }

div#-lucee-docs-ALL > span.twitter-typeahead > .tt-menu.tt-open {background-color: #B3B3B3 !important; width: 330px !important; font-size:13px !important;  padding:1% 1% 1% 1% !important; left: 506px !important; }
td> fieldset > div#-lucee-docs-ALL > span.twitter-typeahead > .tt-menu.tt-open {background-color: #B3B3B3 !important; width: 330px !important; font-size:13px !important;  padding:1% 1% 1% 1% !important; left: 245px !important; }

div#-lucee-docs-ALL > span.twitter-typeahead > .tt-menu.tt-open.moreResults{ font-size: 10px; font-style: italic; }
#-lucee-docs-ALL > .twitter-typeahead > .tt-menu > .tt-dataset > .tt-suggestion.tt-selectable {cursor: pointer;}
#-lucee-docs-ALL > .twitter-typeahead > .tt-menu > .tt-dataset > .tt-suggestion.tt-selectable p{margin: 0px !important;}
div#-lucee-docs-ALL > span.twitter-typeahead > .tt-menu.tt-open > .tt-dataset > .tt-suggestion.tt-selectable:hover{background-color: #0000FF; color: #FFFFFF}

.container>.access-hide{ font-size:14px ; font-weight: bold;}
td a.search_input { padding-left: 3px; font-size: 13px;}
.search_input { margin : 1px 15px 1px 9px; line-height: 21px;}

.paddingLeft{ padding-left: 60px;}
.Desc{padding-left: 3%;}
.dashColor {color: #B3B3B3; font-weight: 800 !important;}
button.buttonStyle{ background-color: #B3B3B3 !important; color: white !important; border-radius: 6px 6px 6px 6px !important; padding : 5px 16px 5px 16px !important; border-bottom-width: 0px !important; border-right-width: 0px !important; font-size: 15px !important; font-weight: 500 !important;}
button.btnActive{background-color: blue !important;  color: white !important; border-radius: 6px 6px 6px 6px !important; padding : 5px 16px 5px 16px !important; border-bottom-width: 0px !important; border-right-width: 0px !important; font-size: 15px !important; font-weight: 500 !important;}
.leftPadding {padding-left: 32px;}
.metricsCharts {padding-left: 32px; padding-bottom: 20px;}
.titleStyle{color: #2255aa; font-size: 13px; font-family: arial; font-weight: bold;}
input.InputSearch { margin-top: 12px; background-color: #DDDDDD !important; border: 0px solid; height: 35px; width: 200px; color: #000000; border-radius: 10px; }
.SearchField1{ margin-left: 245px  !important ; }
/*.SearchField2{ margin-left: 506px !important ; }*/
.InputSearch { background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeEAYAAABroHLhAAAABGdBTUEAALGPC/xhBQAAAAZiS0dEAAAAAAAA+UO7fwAAAAlwSFlzAAAAAQAAAAEATyXE1gAABghJREFUeNrVmUlMVEkYx183NA0M4wxoJm5ji8gkQweMjEFQnFFwYwQaUEBWN04elIOJmhiNiSaCBw960UQPGg4ajQdPRokXl4MJ3lQSY2LiAeOGmCh0w3tTVX//qamHPdJ0M8P8LkV3v3pV31LfUlhWnHgVSV/w+z2K1FSMKSnmmJqK5zgmJ+N7a/qCDXq9+JSUlJi3er14b6LelzBBuSEpssSy5ihmz/5N0dZWJliz5vTp9YJ1665fx3jjxjrB2rUXLhQrOjuzFcFgimL8Oh7Pf2R7t+bnCeYKKgQbN54926L4+LFN0NrqOK2C5mbblt82NzuOe+RzGMfG6gS1tb29vypKSqhIetC/LDgXtCxpv8LC6mps9N27ZkFTk+M0COrrbbtesGVLOIzx82eMw8PmqL/nvK2CxkbHaRe0tTkOPOH48TRBerrb5adMcG3REkFxcXv7NkF7uxYQYziMMRJpFDQ0RLMkLN/S4jgUEPNGRzGPiopE+HyVoLLy/Pk0hRZ8ioKRZQUFeXmlpdB8JIIN2TY2ODrKDVNACPL8Oc7wyZMFgvz81tagorFxpeLAAbjwvXsUDO/je8fG6Cn8He87dCiaQSYpqHaVHxQ+HzbQ10fLmYLaNixm2+WKI0d+VPh87re7P8sQ5fdbVqGiqgoKe/XKXIeC2zYUHg7nKpYujWagGPOo3AJYrti+nRqmy2IcG6NrrhKUlnZ0fP3MM79GHzkDggSDEPzNG6zDdcPhJsHWrXTxnh7k77gtnZzsU1hWraCmpreXC2HhkREGqUrBpk2XLvF54PPFElTkU1C0TkgyWS1fLpUMhfLIUAFQyOAgkuDcudE8dMLM/AJe/OGDqWnbpsVhkWXLTA+J3bXMbXo8MxQ+H9Z78oQu7j7T+YpQKFranDALFAUFTA90YS6Mz8+efa/QlklMutAuvlZx7hyDIdOZFFhavkSxf7+5vp4/YRYKAgFGZa1ZunZIUF19/77pyvHnRfeGSwUrVx4+TNemwPz8u2DVqq6uuAUOKIqKTIEjEebNzYK6ukePUhWJruT0hv9QdHdHExgKOXo0boFnKwIBlnzmGWbQGBpC7TxvXmJdOimJNXWNIBS6fZuexcqMZxgV344dcQv8ncLjwZl9/Ng8u+GwmY46O80F/17+x9ZWmumpoADr6OjsDpqLBNnZS5ZMOh9jgs7DMmSUl3d1MWiYJSQt/fo1up2cHPM9TE+69jXh97SIxyNDYEaGZaECu3nTTIfhMI/UFsHmzQ8fwjDRov0kNI2znJMDjQ4NUVBWWtwAxqdPcwSLFuXm/nOFNd71swSZmX5/taCqqqfHbEZ06UrPWiEoKdm1y9x37J4VtWlADXvwIF2JUZulnxRYujw2NDRUpjh2bKEiGJQF6owZGRmwSFqabCnnzFmwQNZxRUU7d0Jh/f1uQd0lphk0HzxA+pw/P+4z7C4E6DqovK5eNfMiBWfJqftfBj38PjAAV3z5EorRwYdNgykoRzYTWnC6OtZ58eIXgTzzCRJci46mICUF0fPyZbPGZjRne8e+Vxcs9AQeDfw+MsKSlQozzy7na8HdHoB9DA4uUZSXfz2WTFpwr5d9KaL07t3Q9Nu3PGPYsNsy40e6KOfR8lDolStw8cFBt4WjdW1sX3F11NJiCspmJQbRzQn6jP+kmDlTdrkrVuzdi0rszh0INDCAcXgYIyu29+9xFvv6ZFNZVtbdjTQTDLILwt1YKARBPn1yB023Imh5FkxrBKtX79tnVoSTuCri4+7LPK1LCY9ARkaWIhDAmJ2d9QVZp8nL3G9VXHmK4mJ4gO6X3TcsdH33jQnu3E6dSlckoBQ28ys3OtECQM8z8/N4weEBixfD1fv7zSuiaILrQgmed/GiXzFlt5zuQsNdiMR+W4qSdtYsCHr3rpnOmDXGW3y7YNs2x0FzVFhoTXfcgmcq/H6ky2vX3OnSzBqjoxT4Z0VenvV/wayZvV7WCX8KKirOnGHQQnCMRHjLukGwfv2JE5O7ppg2guuswbOJ6+SODlxB3bqFNnLPHplMdTs7rf+LFVud8K2OgX/9BZ84hcMN+p71AAAAAElFTkSuQmCC) no-repeat right center; padding: 8px; border: none; }
.refTbl { margin-left: 1%; }
.refTbl td { padding-right: 1%;}
.modal-dialog{ overflow-y: initial !important}

.modal{ max-width: 65% !important; max-height: 300% !important; overflow-y: auto; overflow-x: auto; }
.modal a.close-modal { top: 3.5px !important; right: 3.5px !important; }
table.tableStyle { margin-top: 0.5em; border: 1px solid #ddd; margin-left: 9pt; empty-cells: show; border-collapse: collapse; border-spacing: 28px; margin-top: 24px; margin-bottom: 24px; font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px !important; width: 96%; }
.tableStyle th { background-color: #F5F5F5;}
.tableStyle tr, .tableStyle td, .tableStyle th { border: 1px solid #ddd; color: #616161; text-align: left; }

.chartDetails { margin: 1% 1% 1% 3%; width: 39%; }
.comment_debugInfo{ font-size: 12px; font-family: sans; font-weight: 200; color: #4C4C4C !important; }
.chartTitle{margin-left: -2%; color: black; }
.maintbl th {font-size: 12px; color: black; background-color: #C6C6C6; border : #B3B3B3 1px solid; text-align: left; padding: 10px;}
.maintbl{ width: 100%; margin:6px 1px 2px 25px;}


.chart_margin{float :left;margin: 5px;}
.fourCharts{width: 22%}
.twoCharts{width: 44%}
.Chart_container{width:100%; overflow:auto;}

/*modal window min css*/
.blocker{position:fixed;top:0;right:0;bottom:0;left:0;width:100%;height:100%;overflow:auto;z-index:1;padding:20px;box-sizing:border-box;background-color:#000;background-color:rgba(0,0,0,0.75);text-align:center}.blocker:before{content:"";display:inline-block;height:100%;vertical-align:middle;margin-right:-0.05em}.blocker.behind{background-color:transparent}.modal{display:none;vertical-align:middle;position:relative;z-index:2;max-width:500px;box-sizing:border-box;width:90%;background:#fff;padding:15px 30px;-webkit-border-radius:8px;-moz-border-radius:8px;-o-border-radius:8px;-ms-border-radius:8px;border-radius:8px;-webkit-box-shadow:0 0 10px #000;-moz-box-shadow:0 0 10px #000;-o-box-shadow:0 0 10px #000;-ms-box-shadow:0 0 10px #000;box-shadow:0 0 10px #000;text-align:left}.modal a.close-modal{position:absolute;top:-12.5px;right:-12.5px;display:block;width:30px;height:30px;text-indent:-9999px;background-size:contain;background-repeat:no-repeat;background-position:center center;background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAAAAXNSR0IArs4c6QAAA3hJREFUaAXlm8+K00Acx7MiCIJH/yw+gA9g25O49SL4AO3Bp1jw5NvktC+wF88qevK4BU97EmzxUBCEolK/n5gp3W6TTJPfpNPNF37MNsl85/vN/DaTmU6PknC4K+pniqeKJ3k8UnkvDxXJzzy+q/yaxxeVHxW/FNHjgRSeKt4rFoplzaAuHHDBGR2eS9G54reirsmienDCTRt7xwsp+KAoEmt9nLaGitZxrBbPFNaGfPloGw2t4JVamSt8xYW6Dg1oCYo3Yv+rCGViV160oMkcd8SYKnYV1Nb1aEOjCe6L5ZOiLfF120EjWhuBu3YIZt1NQmujnk5F4MgOpURzLfAwOBSTmzp3fpDxuI/pabxpqOoz2r2HLAb0GMbZKlNV5/Hg9XJypguryA7lPF5KMdTZQzHjqxNPhWhzIuAruOl1eNqKEx1tSh5rfbxdw7mOxCq4qS68ZTjKS1YVvilu559vWvFHhh4rZrdyZ69Vmpgdj8fJbDZLJpNJ0uv1cnr/gjrUhQMuI+ANjyuwftQ0bbL6Erp0mM/ny8Fg4M3LtdRxgMtKl3jwmIHVxYXChFy94/Rmpa/pTbNUhstKV+4Rr8lLQ9KlUvJKLyG8yvQ2s9SBy1Jb7jV5a0yapfF6apaZLjLLcWtd4sNrmJUMHyM+1xibTjH82Zh01TNlhsrOhdKTe00uAzZQmN6+KW+sDa/JD2PSVQ873m29yf+1Q9VDzfEYlHi1G5LKBBWZbtEsHbFwb1oYDwr1ZiF/2bnCSg1OBE/pfr9/bWx26UxJL3ONPISOLKUvQza0LZUxSKyjpdTGa/vDEr25rddbMM0Q3O6Lx3rqFvU+x6UrRKQY7tyrZecmD9FODy8uLizTmilwNj0kraNcAJhOp5aGVwsAGD5VmJBrWWbJSgWT9zrzWepQF47RaGSiKfeGx6Szi3gzmX/HHbihwBser4B9UJYpFBNX4R6vTn3VQnez0SymnrHQMsRYGTr1dSk34ljRqS/EMd2pLQ8YBp3a1PLfcqCpo8gtHkZFHKkTX6fs3MY0blKnth66rKCnU0VRGu37ONrQaA4eZDFtWAu2fXj9zjFkxTBOo8F7t926gTp/83Kyzzcy2kZD6xiqxTYnHLRFm3vHiRSwNSjkz3hoIzo8lCKWUlg/YtGs7tObunDAZfpDLbfEI15zsEIY3U/x/gHHc/G1zltnAgAAAABJRU5ErkJggg==')}.modal-spinner{display:none;position:fixed;top:50%;left:50%;transform:translateY(-50%) translateX(-50%);padding:12px 16px;border-radius:5px;background-color:#111;height:20px}.modal-spinner>div{border-radius:100px;background-color:#fff;height:20px;width:2px;margin:0 1px;display:inline-block;-webkit-animation:sk-stretchdelay 1.2s infinite ease-in-out;animation:sk-stretchdelay 1.2s infinite ease-in-out}.modal-spinner .rect2{-webkit-animation-delay:-1.1s;animation-delay:-1.1s}.modal-spinner .rect3{-webkit-animation-delay:-1.0s;animation-delay:-1.0s}.modal-spinner .rect4{-webkit-animation-delay:-0.9s;animation-delay:-0.9s}@-webkit-keyframes sk-stretchdelay{0%,40%,100%{-webkit-transform:scaleY(0.5)}20%{-webkit-transform:scaleY(1.0)}}@keyframes sk-stretchdelay{0%,40%,100%{transform:scaleY(0.5);-webkit-transform:scaleY(0.5)}20%{transform:scaleY(1.0);-webkit-transform:scaleY(1.0)}}
button:focus {outline:0 !important;}

.twitter-typeahead .tt-menu{ margin-top: 0px !important;}

/*For removing search field X in chrome & Safari*/
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


#mdlWnd {
	position: fixed !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	z-index: 1050 !important;
	margin:15px auto !important;
}
#outerLayer {
	position: absolute !important;
	border: 1px solid #707070;
	box-shadow: 6px 6px 6px #636e72;
	background-color: #5f5f5f;
	z-index: 1050;
	padding: 20px;
	overflow: auto;
	max-height: 210% !important;
	width: 25% !important;
}
.getMatch:hover{cursor: pointer;background-color: #000;}
#groupOuterText{
	position: relative !important;
	margin-left: 506px !important ;
}