name: Build with Java 8

on: [workflow_dispatch]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Run Lucee Build
      uses: ./.github/workflows/main.yml
      env:
        LUCEE_TEST_JAVA_HOME: ${ env.JAVA_HOME }
