name: Build with Java 11

on: [workflow_dispatch]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Run Lucee Build
      uses: ./.github/actions/main
      env:
        LUCEE_CUSTOM_JAVA_VERSION: true
