name: Full Build, No Maven Cache

on: [workflow_dispatch]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '21'
        distribution: 'adopt'
    - name: Build Lucee without using a Maven cache
      run: ant -noinput -buildfile loader/build.xml 
