name: Slow Build 5.3, No Maven Cache

on: [workflow_dispatch]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Build Lucee without using a Maven cache
      run: ant -noinput -buildfile loader/build.xml fast
